<html>
    <head>
        <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">
        <link rel="stylesheet" href="/static/css/default.css" type="text/css" media="screen, projection">
        <!--[if lt IE 8]><link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
        <title>Tech Writing &mdash; Spring 2011</title>
    </head>
    <body>
        <div class="container">
            <div class="span-24">
                <div class="span-12">
                    <span style="font-size: xx-large;">Tech Writing &mdash; Spring 2011</span>
                </div>
                <div class="span-12 last header">
                    <ul class="header">
                        <a href="/"><li class="header">Home</li></a>
                        <a href="/syllabus/"><li class="header">Syllabus</li></a>
                        {% if user.is_authenticated %}
                        <a href="/accounts/logout/"><li class="header">Logout</li></a>
                        <li class="header">Welcome {{ user.get_full_name }}</li>
                        {% else %}
                        <a href="/accounts/login/"><li class="header">Login</li></a>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="span-24">
            {% block content %}

            {% endblock %}
            </div>
        </div>
    </body>
</html>
