{% extends 'base.html' %}
{% block content %}
    <div class="span-8">
    {% block sb_content %}
        <h3>Upcoming Meetings</h3>
            {% for course_meeting in course_meetings %}
                <a href="{{ course_meeting.get_absolute_url }}"><h3><em>{{ course_meeting.title }}</em></h3></a>
                <strong>{{ course_meeting.start|date:"F jS P" }}&mdash;{{ course_meeting.finish|date:"P" }}</strong><br />
                {{ course_meeting.short_description }}
                <hr class="space" />


            {% endfor %}
        <h3>Upcoming Assignments</h3>
        {% if user.is_authenticated %}
            These are some upcoming grading meetings
        {% else %}
            Please login to view assignments.
        {% endif %}
    {% endblock %}
    </div>
    <div class="span-16 last">
    {% block main_content %}

    {% endblock %}
    </div>
{% endblock %}
