{% extends "base_sb.html" %}
{% block main_content %}
    <h3>E60 310: Technical Writing</h3>
    <h4>Fall 2010</h4>
    <h3>Professor Contact Information</h3>
    <h4>Not actually putting this here..</h4>
    <h3>Course Prerequisites</h3>
    <ul>
        <li>Writing I or Equivalent</li>
        <li>Junior or Senior level status</li>
    </ul>
    <h3>Course Description</h3>
    <p>Communication techniques taught throughout the course, along with accompanying assignments, help students improve both written language and presentation skills, particularly when approaching scientific and engineering topics.</p>
    <h3>Course Objectives</h3>
    <ul>
        <li>Students will be able to present ideas about complex technical subjects in a succinct, organized way to an appropriate audience</li>
        <li>Students will learn both general and specialized principles of effective technical communication</li>
        <li>Students will use the knowledge and skills they gain in this course to write and present confidently and successfully.</li>
    </ul>
    <h3>Grading</h3>
    <table>
        <tr>
            <td>98-100 A+</td>
            <td>88-89 B+</td>
            <td>78-79 C+</td>
        </tr>
        <tr>
            <td>93-97 A</td>
            <td>83-87 B</td>
            <td>73-77 C</td>
        </tr>
        <tr>
            <td>90-92 A-</td>
            <td>80-82 B-</td>
            <td>70-72 C-</td>
        </tr>
    </table>
{% endblock %}
